* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}
body div{
  height:200px;
  width:200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.button{
  margin: 10px;

}
